{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}TDEE Calculator{% endblock %}

<div id="container"></div>

    {% render_bundle 'main' %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>{% trans "Welcome to TDEE Calculator" %}</h1>
        <p>{% blocktrans %}True TDEE is a tool used to accurately calculate your Total Daily Energy Expenditure. Unlike most TDEE calculators that are wildly inaccurate, True TDEE is an adaptive calculator that automatically adjusts over time{% endblocktrans %}</p>
      </div>
    </div>

{% endblock %}