* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.calendar {
  clear: both;
}

.days .dayHeader {
  padding: 0.5em;
  text-align: center;
  float: left;
  width: calc(100% / 7);
  font-weight: 600;
  list-style: none;
}

.days .day {
  padding: 0.5em;
  text-align: center;
  float: left;
  width: calc(100% / 7);
  list-style: none;
}

.days .pale {
  color: #aaa;
}

.monthHeader {
  padding: 0.5em;
  text-align: center;
  font-weight: 900;
  float: left;
  width: calc(100% / 7 * 5);
  margin: 0;
}

.goPreviousMonth,
.goNextMonth {
  text-align: center;
  float: left;
  width: calc(100% / 7);
}
