* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: aliceblue;
}

.body {
  background-color: #EFEFEF;
}

.calendar {
  clear: both;
}

.days .dayHeader {
  padding: 0.5em;
  text-align: center;
  float: left;
  width: calc(100% / 7);
  font-weight: 600;
  list-style: none;
}

.days .day {
  padding: 0.1em;
  text-align: center;
  float: left;
  width: calc(100% / 7);
  list-style: none;
}

.days .pale {
  color: #aaa;
}

.monthHeader {
  padding: 0.5em;
  text-align: center;
  font-weight: 900;
  float: left;
  width: 70%;
  margin: 0;
}

.goPreviousMonth,
.goNextMonth {
  text-align: center;
  /* float: left; */
  width: 15%;
  cursor: pointer;
  align-items: center;
}

.target-daily-calorie-change,
.current-weight,
.weight-change,
.current-tdee,
.goal-weight-date,
.time-until-goal-date {
  padding: 0.1em;
}

.hitting-goal {
  color: green;
}

.failing-goal {
  color: red;
}

.body-stat-value {
  font-weight: bold;
}

.login, .logout {
  float: right;
}

.bodyStats {
  padding: .5em;
}

.bodyStatsInput {
  padding: .5em;
}

.calendarButton {
  border-radius: 0;
}

#startingWeightInput, #goalWeightInput, #goalWeightChangePerWeekInput {
  border-radius: 0;
  padding: .25em .25em;
}
